.inputGroup {
    margin-bottom: 1.5rem;
}

.inputGroup input {
    width: 100%;
    padding: 1.5rem;
    border: 1px solid var(--dark-color);
    border-radius: 12px;
    background-color: transparent;
    font-size: 1.1rem;
    color: var(--dark-color);
    height: 60px;
}

.inputGroup input::placeholder {
    color: var(--primary-color);
    opacity: 1;
}

.inputGroup input:focus {
    outline: none;
    border-color: var(--primary-color);
}

.loginButton {
    width: 100%;
    padding: 1.5rem;
    background-color: var(--primary-color);
    color: var(--light-color);
    border: none;
    border-radius: 12px;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider {
    margin-top: 2rem;
    text-align: center;
    position: relative;
}

.divider::before,
.divider::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 25%;
    height: 1px;
    background-color: var(--secondary-color);
}

.divider::before {
    left: 0;
}

.divider::after {
    right: 0;
}

.dividerText {
    color: var(--secondary-color);
    padding: 0 1rem;
    background-color: var(--light-color);
    font-size: 0.9rem;
    text-decoration: none;
}

.dividerText:hover {
    opacity: 0.8;
}

/* OTP and Password specific styles */
.otpContainer {
    display: flex;
    gap: 8px;
    margin-bottom: 1.5rem;
}

.otpInput {
    width: 55px;
    height: 55px;
    border: 1px solid var(--dark-color);
    border-radius: 8px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--dark-color);
    background: transparent;
}

.otpInput:focus {
    outline: none;
    border-color: var(--primary-color);
}

.passwordSection {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    .otpContainer {
        gap: 6px;
    }

    .otpInput {
        width: 45px;
        height: 45px;
        font-size: 1.2rem;
    }
}