@import "../../../styles/global.css"; /* Import shared styles */

.countNumber {
  margin: 4px 0 0 0;
  display: inline-block;
}
.countNumberBtn {
  padding: 2px 5px;
  color: var(--dark-color);
  transition: background-color 0.2s;
  border-color: var(--dark-color);
  height: 36px;
}

.countNumberBtn:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
  border-color: var(--dark-color);
}

.leftBorderRadius {
  border-radius: 3px 0 0 3px;
}

.rightBorderRadius {
  border-radius: 0 3px 3px 0;
}

.countNumberInput {
  font-family: "Playfair Display", serif;
  width: 36px;
  text-align: center;
  font-size: 1.2rem;
  margin: 0;
  background: var(--dark-color);
  border: none;
  color: var(--light-color);
  height: 36px;
  border-radius: 0px;
  vertical-align: bottom;
}

.restaurant-detailed-header-left {
  text-shadow: 0px 0px 10px #000;
}
