@import "../../../styles/global.css";

:global(.customModal) .modal-content {
  .modal-content {
    border-radius: 15px;
    background-color: var(--light-color);

    .modal-header {
      border-bottom: 1px solid var(--dark-color);
      justify-items: center;

      .close {
        color: var(--dark-color);
      }
    }

    .modal-body {
      padding: 20px;
    }

    .modal-footer {
      border-top: 1px solid var(--dark-color);

      .btn {
        border-radius: 2px;
        padding: 10px 15px;
      }
    }
  }
}

.foodInfo {
  padding: 10px 20px;
  margin-bottom: 20px;
}

.borderTop {
  border-top: 1px solid var(--dark-color);
  margin-top: 10px;
}

.modalPhoto {
  width: 2rem;
  height: 2rem;
  border-radius: 15px;
}

.modalContent h5 {
  font-weight: 600;
  color: var(--dark-color);
}

.modalContent h6 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--dark-color);
}

.modalContent p,
.modalContent span {
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  color: var(--dark-color);
  margin: 0;
}

.offerPrice span {
  color: var(--light-color) !important;
}

.modalButton {
  font-family: "Playfair Display", serif;
  font-size: 1rem !important;
  font-weight: 600 !important;
  border-radius: 5px !important;
  background-color: var(--secondary-color) !important;
  padding: 10px 25px !important;
}

.modalButton:hover {
  background-color: var(--primary-color) !important;
}