.footer {
    height: 300px;
    background-color: rgb(218, 115, 57);
    margin-top: 50px;
    align-items: center;
}

.footer-logo img {
    width: 300px;
    margin-left: 50px;
}

.footer-info {
    box-sizing: border-box;
    height: 100%;
    align-items: start;
    padding-top: 50px;
    padding-right: 50px;
    color: white;
}

.footer-info h4 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.821);
    ;
    padding-bottom: 15px;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}

.footerLink {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.821);
    font-size: 19px;
    display: block;
    margin-bottom: 10px;
}

.footerLink:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.821);
}

.footer-address {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.821);
    margin-bottom: 10px;
    align-items: center;
}

.footer-address:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.821);
}